/* shared styles */
* {
    font-family: 'Lato';
    font-family: 'Open Sans';
    font-family: sans-serif;
}

.btn-primary {
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    background: #E55473;
    padding: 15px 20px;
    border: none;
}

.section-class {
    margin: 30px 100px;
    text-align: center;
    padding: 30px 0px 40px;
}

/* header */

/* banner styles */
.banner {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 30px 110px 0px 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner .banner-image {
    margin-top: 50px;
    width: 400px;
}

.banner-content {
    max-width: 400px;
}

.banner-title {
    color: #272727;
    font-size: 38px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
}

/* main styles */

/* featured section */

.featured-title {
    color: #272727;
    font-size: 30px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 50px;
}


.featured-images {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.featured-images img {
    height: 180px;
    width: 150px;
    padding: 80px 30px 0px 30px;
}

.flower-border {
    border-radius: 300px 300px 0px 0px;
}

.flower-pic1 {

    background: rgba(167, 33, 98, 0.15);

}

.flower-pic2 {
    background: rgba(5, 151, 160, 0.15);

}

.flower-pic3 {
    background: rgba(71, 125, 17, 0.15);
}

.image-caption {
    color: #272727;
    text-align: center;
    text-decoration-line: underline;
    margin-top: 20px;
}

/* box styles */
.box-container {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background: rgba(39, 39, 39, 0.05);
    padding: 90px 0px;
    gap: 40px;

}

/* Hot deal section style */
.deal-section {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background: rgba(229, 84, 115, 0.05);
    padding: 80px 200px;
    gap: 200px;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.deal-info {
    text-align: center;
}

.deal-flower-img {
    width: 200px;
    height: 300px;
}

/* Instagram style */

.insta-pic {
    width: 220px;
    height: 300px;
    margin-right: 38px;
}

/* latest deal */
.deal-input-class {
    border: none;
    padding: 15px 300px 15px 20px;
    border-radius: 10px;
    background: #FFF;
}

.latest-container {
    border-radius: 10px;
    background-image: url("images/Rectangle 9.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 90px;
}

/* footer style */
/* footer{
    display: flex;
    justify-content: center;
    background: #111010;
   
} */
.footer-class {
    background: #111010;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    padding: 100px 0px;
    /* max-width: 500px; */
}
.footer-container{
    width: 50%;
    text-align: center;
}
.footer-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;

}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 15px;
    font-weight: 400;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}
.footer-flower{
    color: #E55473;

}